<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="WatchPath1" value="C:\\Faxes" />
    <add key="Logs" value="C:\\Logdir" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPHost" value="localhost" />
    <add key="SMTPFrom" value="noreply@youremail.com" />
    <add key="SMTPTo" value="sendto@yourco.com" />
    <add key="SMTPSubj" value="Incoming Fax" />
    <add key="SMTPBody" value="Please see the attached pdf" />
    <add key="SMTPUserCreds" value="true" />
    <add key="SMTPUser" value="noreply" />
    <add key="SMTPPass" value="" />

  </appSettings>
</configuration>